<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Api Sn</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>api_sn</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAllowsArbitraryLoads</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>This app needs camera access to scan QR codes</string>
	<key>NSContactsUsageDescription</key>
	<string>Cette Application necessite l'accès à votre contact pour fournir des suggestions personnalisées et vous permettre des transférer des bons de carburants dans l'application. Par exemple, nous utiliserons vos contacts pour suggérer des amis qui utilisent également l'application ou ceux qui ne l'utilisent pas.</string>
	<key>NSContactsWriteUsageDescription</key>
	<string>L'application a besoin de pouvoir modifier vos contacts.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>L'application a besoin de pouvoir ajouter des photos à votre photothèque.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
        <string>L'application a besoin d'accéder à votre emplacement lorsque vous l'utilisez.</string>
        <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
        <string>L'application a besoin d'accéder à votre emplacement même lorsque vous ne l'utilisez pas, pour fournir des fonctionnalités basées sur la localisation.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>L'application a besoin d'accéder à votre photothèque pour sélectionner des photos à utiliser.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
